<%- include('./partials/head')%>

<%- include('./partials/nav')%>

<section class="albums">
    <section id="albumsSec">
        <% albumsResults.forEach(albumItem=> { %>
            <figure class="artistItem">
                <% if(albumItem.images[0] == undefined){ %>
                    <img src="./img/photo-not-available.png" alt="">
                <% } else { %>
                    <img src="<%= albumItem.images[0].url %>" alt="">
                <% } %>

                <figcaption>
                    <p><%= albumItem.name %></p>

                    <a href="/tracks/<%= albumItem.id %>">View Tracks</a>
                </figcaption>
            </figure>
        <% }) %>
    </section>

<!-- <a href="<%# site-2 %>"> &#8592; Show previews albums</a>
<a href="<%# site %>">Show next albums &#8594;</a> -->
</section>

<%- include('./partials/footer')%>