<%- include('./partials/header')%>

<% artistResults.forEach(item=> { %>
    <figure>
        <!-- <p>Artist images: <%# JSON.stringify(item.images) %></p> para ver lo que hay dentro-->

        <% if(item.images[0] == undefined){ %>
            <img src="./img/no-picture-available.jpg" alt="<%= item.name %>">
        <% } else { %>
            <img src="<%= item.images[0].url %>" alt="">
        <% } %>

        <figcaption>
            <p><%= item.name %></p>

            <a href="/albums/<%= item.id %>/0">View Albums</a>
        </figcaption>
        
    </figure>
    
<% }) %>
<a href="<%= artistNextPage %>">More</a>

<%- include('./partials/footer')%>